
@{
    ViewBag.Title = "AboutPage";
}

<main class="flex-shrink-0">


    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                @*<p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>*@
            </div>
        </div>
    </header>
   
    <!-- About section one-->
    <section class="py-5 bg-light" id="scroll-target">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    @*<img  src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />*@
             
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="~/Content/assets/founders.jpg" />
                
                </div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Our founders</h2>
                    <p class="lead fw-normal text-muted mb-0">
                        


                        The brand was ideated when two highly educated and passionate individuals partnered
                        together in business, life, and beyond to bring forth such products in the Indian
                        landscape. Being lovers of animals, mountains, and the amazing Nepali & North-East
                        cuisine, our founders, Bhupendra and Sneh have personally catered to every brick
                        that was laid towards building the psychology,
                        structure, and offerings of Himalayan Natives.


                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- About section two-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-first order-lg-last">
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="~/Content/assets/about.jpg" />

                </div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">About us</h2>
                    <p class="lead fw-normal text-muted mb-0">
                        Birthed under the umbrella of the renowned Khanal Foods, Himalayan Natives is
                        a home-grown food brand catering to urban health & lifestyle. Branched from the
                        similar lines of the soulful Himalayan connect as its parent brand,
                        the brand is involved in producing 100% vegetarian, natural, and organic produce
                        using the most ethical means. The tranquil nature, the crystal clear rivers,
                        and the impossibly fertile soil,
                        come together to establish Himalayan Natives as the paragon of purity.

                    </p>
                    <br />

                    <p class="lead fw-normal text-muted mb-0">

                        On the community and environment front, the brand ensures that
                        channel partners are compensated fairly for their contributions.
                        As a matter of great pride, it is a known fact that all our
                        stakeholders mean more to us than being mere suppliers or
                        consumers. They are a part of the big Himalayan Natives family,
                        a family that ranges from the starting blocks of our farmers
                        and goes up to you, its end users. Aware of current business
                        practices, we use sustainable methods of farming and practice
                        impartiality towards our citizens and soil, being conscious
                        of not leaving our carbon footprint on Mother Nature.

                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Team members section-->
    <section class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="fw-bolder">Our Customer Say's'</h2>
                <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
            </div>
            <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                 
                   
                        <img class="img-fluid rounded-circle mb-4 px-4" src="~/Content/assets/cust1.jpg" />
                        
                        <h5 class="fw-bolder">Rachel M</h5>

                        <div class="fst-italic text-muted">
                            <p>
                                I've been purchasing dry fruits from this store for years, and I'm always impressed with the quality and
                                freshness of their products. Their customer service is also top-notch!"
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                 
                        <img class="img-fluid rounded-circle mb-4 px-4" src="~/Content/assets/cust2.jpg" />
                        
                        <h5 class="fw-bolder">Mark K</h5>
                        <div class="fst-italic text-muted">
                            <
                            <p>
                                "I was looking for a specific type of dry fruit for a recipe, and the staff at this store went
                                above and beyond to help me find it. Their knowledge and expertise are unparalleled!"
                            </p>
                            </div>
                        </div>
                </div>
                <div class="col mb-5 mb-5 mb-sm-0">
                    <div class="text-center">
                     
                                      <img class="img-fluid rounded-circle mb-4 px-4" src="~/Content/assets/cust3.jpg" />
                        
                        <h5 class="fw-bolder">Emily G</h5>
                        <div class="fst-italic text-muted">
                            <p>
                                "I've tried dry fruits from several different stores, but none of them compare to the selection 
                                and quality offered by this business.
                                Their prices are also very competitive!"
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col mb-5">
                    <div class="text-center">
                 
                        <img class="img-fluid rounded-circle mb-4 px-4" src="~/Content/assets/cust4.jpg" />
                        
                        <h5 class="fw-bolder">David L</h5>
                        <div class="fst-italic text-muted">
                            <p>
                                "I have food allergies, and it's often difficult for me to find dry
                                fruits that are safe for me to eat. The staff at this store were very
                                understanding and helpful,
                                and they even offered to special order some products for me!"
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

